<header>
	<nav class="navbar navbar-expand-lg container">
		<a class="navbar-brand" href="/">
			<h1>Small Express Project</h1>
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nabarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
			<span class="navbar-toggler-icon">
				<i class="fa fa-bars"></i>
			</span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-item nav-link <%= active === 'home' ? 'active' : '' %>" href="/">Home</a>
				
				<a class="nav-item nav-link <%= active === 'about' ? 'active' : '' %>" href="/about">About</a>
				
				<a class="nav-item nav-link <%= active === 'launches' ? 'active' : '' %>" href="/launches">Launches</a>

				<a class="nav-item nav-link <%= active === 'contact' ? 'active' : '' %>" href="/contact">Contact</a>
			</div>
		</div>
	</nav>
</header>